@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/iranyekan/Qs_Iranyekan_black");
  src: url("/fonts/iranyekan/Qs_Iranyekan_bold");
  src: url("/fonts/iranyekan/Qs_Iranyekan_extrablack");
  src: url("/fonts/iranyekan/Qs_Iranyekan_extrabold");
  src: url("/fonts/iranyekan/Qs_Iranyekan_light");
  src: url("/fonts/iranyekan/Qs_Iranyekan_medium");
  src: url("/fonts/iranyekan/Qs_Iranyekan_thin");
  src: url("/fonts/iranyekan/Qs_Iranyekan");
  font-display: swap;
}

/* other utility ? */
body {
  font-family: "IRANYekan";
  margin: 0;
  padding: 0;
}

/* main {

} */

.backgroundImages {
  filter: brightness(0.75);
}
